.hide-column-names table thead tr {
    display: none;
}

.align-center table tr {
    text-align: center;
}

.align-center table td:nth-child (2) {
    text-align: left;
}

.ui-layout-north {
    overflow-y: hidden !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow-y: hidden !important;
}

/* Used for classement got from fff website */
table.classement {
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

table.classement th, table.classement td {
    color: #575757;
    padding: 10px 3px;
    width: 8%;
}

table.classement th {
    color: #1d5f8d;
    font-size: 12px;
    text-align: center;
}

table.classement td:first-child, table.classement th:first-child {
    text-align: right;
    width: 5%;
}

table.classement td {
    font-size: 12px;
    text-align: center;
}

table.classement  tr td:first-child+td, table.classement tr th:first-child+th
{
    text-align: left;
    width: 16%;
}

table.classement td.blackBold {
    font-weight: bold;
    color: #242c49;
}

table.classement td.blackLight {
    color: #414141;
}

table.classement td.gris {
    color: #414141;
}

table.classement tr.odd, table.classement tr.odd  td {
    background: #e7e7e6;
}

body{
    background: #f2f0f0;
}

ul {
    padding: 1%;
    list-style-type: none;
    border:0px solid #DDD;
    border-radius:5px;
    background:#ffffff;
}

li {
    width: 100%;
    list-style-type: none;
}

li.item {
}


.toshow2 {
    border-bottom: 1px solid #CAC7C4;
}

.sub_tilte {
    color: white;
    padding-top: 3.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 1%;
    margin-top: 0;
    text-align:center;
    margin-bottom: 0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-transform: uppercase;
    font-size: 14px;
    background: #8e9091;
    display: block;
}

.sct_rst{
    margin-bottom:10px;
}

.list_calendar  .sct_rst {
    background: none;
}

.list_calendar {
    height: auto
    border-top: 1px solid #CAC7C4;
}

.cnt .list_calendar  {
    border-top: 0 none;
    border-bottom: 1px solid #CAC7C4;
}

.list_links .list_calendar .sct_rst.last {
    margin-bottom: 0;
}

.list_calendar li.last {
    border-bottom: 1px solid #CAC7C4;
}

.list_links .list_calendar .sct_rst {
    min-height: 0;
    overflow: hidden;
}

.sct_rst h4 {
    color: #515455;
    font-size: 14px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

.sct_rst p {
    color: #1d5f8d;
    font-size: 14px;
    display: block;
    line-height: 13px;
    overflow: hidden;
}

.sct_rst p .p_generale {
    color: #1D5F8D;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    text-align: left;
    display: block;
    margin: 0;
    text-align: center;
}

.sct_rst p .score {
    color: #1d5f8d;
    font-size: 1.5em;
    line-height: 20px;
    font-weight: bold;
    float: left;
    width: 16%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.sct_rst p .eqName {
    float: left;
    margin: 0;
    padding: 4px 2% 0 0;
    text-align: right;
    width: 40%;
}

.sct_rst p .eqright {
    float: right;
    padding: 4px 0 0 2%;
    text-align: left;
}

.sct_rst p a span.score {
    width: auto;
}

.sct_rst p a span {
    min-width: 100px;
    display: inline-block;
}

div.score {
    float: left;
    width: 100px;
    color: #1D5F8D;
    font-weight: bold;
    font-size: 16px;
}

div.penalty span.score {
    margin-right: 11px;
}

/* change menu background */
.ui-menubar,.ui-menu-child,.ui-menu {
    background: #f4f3f3 !important;
}